<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    
    <%- include('./partials/title.ejs'); %> 
    <link rel="stylesheet" href="/public/style.css">
</head>
<body>
<!-- nav -->
<section id="menu">
    <!-- including nav -->
<%- include("./partials/nav.ejs"); %>
</section>
<!-- end -->
<!-- heading -->
  <section  id="bg-slider">
    <%- include("./partials/heading.ejs"); %>
        
  </section>
<!-- end -->

<section id="services">
  
    <div class="heading">
    <h2>Packages</h2>
    </div>
      <%- include("./partials/packages.ejs"); %>
</section>

    <!-- end -->
<!-- accordion -->
<section id="accordion">
   <%- include('./partials/testimonial.ejs'); %> 
</section>
<!-- end -->
<!-- login modal -->
<section class="login">
    <!-- including signup modal -->
  </section>
<!-- end -->
<!-- signup -->
<section id="signup">
    <!-- including sign up -->
  
</section>
<!-- feedback -->
<section id="feedback">
<%- include("./partials/feedback.ejs"); %>
</section>
<!-- footer -->
<section id="footer">
    <!-- including the footer -->
    <%- include("./partials/footer.ejs"); %>
</section>

</body>
</html>
