<nav class="navbar navbar-expand navbar-light navbar-bg">
    <a class="sidebar-toggle js-sidebar-toggle">
<i class="hamburger align-self-center"></i>
</a>

    <div class="navbar-collapse collapse">
        <ul class="navbar-nav navbar-align">
            <li class="nav-item dropdown">
                <a class="nav-icon dropdown-toggle" href="#" id="alertsDropdown" data-bs-toggle="dropdown">
                    <div class="position-relative">
                        <i class="align-middle" data-feather="bell"></i>
                        <%  if(subscribers.length!=undefined){%> 
                        <span class="indicator">   <%= subscribers.length %> </span>
                        <%  }%> 
                    </div>
                </a>
                
                <!--  -->
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end py-0" aria-labelledby="alertsDropdown">
                    <div class="dropdown-menu-header">
                        <%= feedback.subscribers  %>  New Subscribers
                    </div>

                    <% if(feedback!=undefined) {%> 

                        <% for( let index = 0; index < subscribers.length; index++ ) { %>


                    <div class="list-group">
                        
                        <a href="mailto:<%= subscribers[index].email %>" class="list-group-item">
                            <div class="row g-0 align-items-center">
                                <div class="col-2">
                                    <i class="text-danger" style="color: #ccc;" data-feather="message-circle"></i>
                                </div>
                                <div class="col-10">
                                    <div class="text-dark"><%= subscribers[index].email %> <i class="text-danger" style="color: #ccc;padding-left: 10px;"> Reply</i>
                                    </div>
                                    <!-- <div class="text-muted small mt-1"><%=//feedback[index].feedback  %> </div> -->
                                    <div class="text-muted small mt-1"><%=subscribers[index].date  %></div>
                                </div>
                            </div>
                        </a>            
                    </div>
                    <% } %>                    
                    <% } %> 
                    <div class="dropdown-menu-footer">
                        <a href="#" class="text-muted">Show all notifications</a>
                    </div>
                </div>
                <!--  -->
            </li>
            <!--  -->
            <li class="nav-item dropdown">
                <a class="nav-icon dropdown-toggle" href="#" id="alertsDropdown" data-bs-toggle="dropdown">
                    <div class="position-relative">
                        <i class="align-middle" data-feather="bell"></i>
                        <%  if(feedback.length!=undefined){%> 
                        <span class="indicator">   <%= feedback.length %> </span>
                        <%  }%> 
                    </div>
                </a>
                
                <!--  -->
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end py-0" aria-labelledby="alertsDropdown">
                    <div class="dropdown-menu-header">
                        <%= feedback.length  %>  New Feedback
                    </div>

                    <% if(feedback!=undefined) {%> 

                        <% for( let index = 0; index < feedback.length; index++ ) { %>


                    <div class="list-group">
                        
                        <a href="mailto:<%= feedback[index].email %>" class="list-group-item">
                            <div class="row g-0 align-items-center">
                                <div class="col-2">
                                    <i class="text-danger" style="color: #ccc;" data-feather="message-circle"></i>
                                </div>
                                <div class="col-10">
                                    <div class="text-dark"><%= feedback[index].email %> <i class="text-danger" style="color: #ccc;padding-left: 10px;"> Reply</i>
                                    </div>
                                    <div class="text-muted small mt-1"><%=feedback[index].feedback  %> </div>
                                    <div class="text-muted small mt-1"><%=feedback[index].date  %></div>
                                </div>
                            </div>
                        </a>            
                    </div>
                    <% } %>                    
                    <% } %> 
                    <div class="dropdown-menu-footer">
                        <a href="#" class="text-muted">Show all notifications</a>
                    </div>
                </div>
                <!--  -->
            </li>
            <!-- messages -->
            <li class="nav-item dropdown">
                <a class="nav-icon dropdown-toggle" href="#" id="messagesDropdown" data-bs-toggle="dropdown">
                    <div class="position-relative">
                        <i class="align-middle" data-feather="message-square"></i>
                        <span class="indicator"><%= message_admin.length %> </span>
                    </div>
                </a>

                <!--  -->
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end py-0" aria-labelledby="alertsDropdown">
                    <div class="dropdown-menu-header">
                        <%=  message_admin.length %>  New Messages
                    </div>

                    <% if(feedback!=undefined) {%> 

                        <% for( let index = 0; index < message_admin.length; index++ ) { %>


                    <div class="list-group">
                        
                        <a href="mailto:<%= message_admin[index].email %>" class="list-group-item">
                            <div class="row g-0 align-items-center">

                                <div class="col-2">
                                <i class="text-danger" style="color: #ccc;" data-feather="message-circle"></i>
                                </div>
                                <div class="col-10">
                                    <div class="text-muted small mt-1"><%=message_admin[index].name  %> </div>

                                    <div class="text-dark"><%= message_admin[index].email %> <i class="text-danger" style="color: #ccc;padding-left: 10px;"> Reply</i>
                                    </div>
                                    <div class="text-muted small mt-1"><%=message_admin[index].message  %> </div>
                                    <div class="text-muted small mt-1"><%=message_admin[index].msg_date  %></div>
                                </div>
                            </div>
                        </a>            
                    </div>
                    <% } %>                    
                    <% } %> 
                    <div class="dropdown-menu-footer">
                        <a href="#" class="text-muted">Show all notifications</a>
                    </div>
                </div>
                <!--  -->
            </li>
            <li class="nav-item dropdown">
    <a class="nav-icon dropdown-toggle d-inline-block d-sm-none" href="#" data-bs-toggle="dropdown">
    <i class="align-middle" data-feather="settings"></i>
  </a>

    <a class="nav-link dropdown-toggle d-none d-sm-inline-block" href="#" data-bs-toggle="dropdown">
    <img src="/public/pictures/uprofile2.webp" class="avatar img-fluid rounded me-1" alt="Charles Hall" /> 
    <span class="text-dark" style="text-transform: uppercase; font-weight: 900;" >
     <% if(currentAdmin!=undefined) {%>    <%= currentAdminName%> <% } %> 
    </span>
  </a>
                <div class="dropdown-menu dropdown-menu-end">
                    <a class="dropdown-item" href="/dashboard/account"><i class="align-middle me-1" data-feather="user"></i> Profile</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/dashboard/business/profile"><i class="align-middle me-1" data-feather="settings"></i> Settings & Privacy</a>
                    <a class="dropdown-item" href="#"><i class="align-middle me-1" data-feather="help-circle"></i> Help Center</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/admin/logout"> <i class="align-middle" data-feather="log-out"></i> Log out</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
